# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
package-lock.json
node_modules

# production
build

# local
*.local

# misc
.DS_Store
debug.log
npm-debug.log.*
