.SideBar {
    background-color: #17141f;
    text-align: center;
    flex-shrink: 0;
    width: 200px;
}

.Navigation-ul a {
    color: #cbc8d0;
    display: block;
    padding: 8px 8px 8px 24px;
    text-align: left;
    text-decoration: none;
}

.Navigation-ul a:hover {
    background-color: #201c2b;
    transition: background-color 0.2s;
}

.Navigation .activePage {
    background-color: #201c2b;
    border-left: 4px #6441a4 solid;
    padding-left: 20px;
}
