body {
  background: url('img/bg.png');
}

nav {
    margin-bottom: 12px;
}

footer {
    line-height: 32px;
    margin-top: 2px;
}

footer .external {
    float: right;
    font-size: 32px;
    margin-left: 6px;
    opacity: 0.5;
}

footer .external:hover {
    opacity: 1;
    transition: opacity 0.4s;
}

footer .sponsor {
    border-top: 1px solid #ddd;
    clear: both;
    color: #888;
    margin-top: 8px;
    padding: 8px 0;
    overflow: hidden;
}

footer .sponsor img {
    margin: -4px 0 0 4px;
    height: 20px;
    overflow: hidden;
}

.container-main {
    background-color: #fafafa;
    border-radius: 0 0 12px 12px;
    padding: 12px;
    min-height: 50px;
    overflow: hidden;
}

.page-banner {
    background-size: cover;
    height: 95px;
    padding: 0;
}

.page-banner h1 {
    background-color: rgba(255, 255, 255, 0.7);
    height: 95px;
    line-height: 86px;
    font-size: 64px;
    text-align: center;
}

.page-banner-home { background-image: url('img/banners/home.png'); }
.page-banner-about { background-image: url('img/banners/about.png'); }
.page-banner-coastercloud { background-image: url('img/banners/coastercloud.png'); }
.page-banner-servers { background-image: url('img/banners/servers.png'); }
.page-banner-signin { background-image: url('img/banners/signin.png'); }

.no-link-decor {
    color: inherit;
}
.no-link-decor:hover {
    color: inherit;
    text-decoration: none;
}

a[role=button] {
    cursor: pointer;
    outline: none;
}

.download-icon {
    display: block;
    font-size: 80px;
    text-align: center;
}

.download-button {
    background-color: #373277;
    border: none;
    color: #eee;
    cursor: pointer;
    display: block;
    font-size: large;
    margin: 16px auto 0 auto;
    padding: 12px;
    text-align: center;
}

.download-button:hover {
    background-color: rgba(55,50,119,0.8);
    color: #eee;
    text-decoration: none;
}

.download-button .sub-text {
    color: #bbb;
    font-size: small;
    font-weight: bold;
}

.tab-content {
    background-color: #fff;
    border-left: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
    padding: 16px;
    margin-bottom: 12px;
}
